#For Clion IDE
**/.idea/
**/cmake-build-debug/

#For Visual Studio Code IDE
**/.vscode/
**/.travis.yml

#For the platformio plugin for Visual Studio Code
**/.pio/
**/.pioenvs/
**/.piolibdeps/

#For RT-labs projects
**/.metadata
